<!DOCTYPE html>
<html>
<head>
    <title>Student Registration</title>
</head>
<body style="text-align: center; font-family: Arial;">

<div class="container">
    <h2>Student Registration</h2>

    <form action="/submit" method="POST">

        <input type="text" name="name" placeholder="Enter Name"><br></br>

        <input type="text" name="rollno" placeholder="Enter Roll Number"><br></br>

        <input type="email" name="email" placeholder="Enter Email"><br></br>

        <select name="year" required>
            <option value="">Select Year</option>
            <option>1st Year</option>
            <option>2nd Year</option>
            <option>3rd Year</option>
            <option>4th Year</option>
        </select><br></br>

        <button type="submit">Submit</button>

    </form>

</div>

</body>
</html>